name: Pulumi Preview
on:
  pull_request:

jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm ci
        working-directory: infrastructure

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - uses: pulumi/actions@v3
        with:
          command: preview
          stack-name: courageous-land/photogrammetry-service/dev
          work-dir: infrastructure
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
